

body {
    margin-top: 0px;
    font-family: fanstay;
    color: white;
    background-color: ghostwhite;
    margin-left: auto;
    margin-right: 1000px;
    text-align: center;
    

    
}

@media only screen and (min-width: 200px) {
  .body{
    display: block;
    grid-template-columns: 3fr 1fr;
    column-gap: 20px;
  }
    
  
}

@media only screen and (min-width: 768px) {
    .parentFlex {
         flex-direction: row;
    }
    .box {
       width: 45%;
    }
}
@media only screen and (min-width: 1240px) {
   .box {
        width: 30%;
    }
} 
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

[class^="box"] {
  padding: 20px;
}
 .parentFlex{
   display:flex;
   contain: 600px;
   flex-direction: column;
  
 }

.box{
  margin: auto;
}

  
  ul{
  
    display: flex;
    flex-direction: column;
  }
  


li {
  height: 40vh;
  flex-grow: 1;
}
li:last-child {
  
  flex-grow: 10;
}

img {
  max-height: 100%;
  min-width: 100%;
  object-fit: contain;
  vertical-align: bottom;
}
.menu-toggle{
  position: fixed;
  z-index: 9999;
  left: 5%;
  top: 4rem;
  width: 3rem;
  height: 3rem;
  ;
  
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: 0.5s;
}

.menu-toggle.active{
  transform: rotate(-180deg);
}

.menu-toggle span{
  background: white;
  width: 100%;
  height: 3px;
}

.menu-toggle.active span:nth-child(1){
  position: absolute;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)rotate(90deg)
}

.menu-toggle.active span:nth-child(2){
  opacity: 0;
}

.menu-toggle.active span:nth-child(3){
  position: absolute;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)rotate(90deg)
}

nav{
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 100;
  pointer-events: none;
}

nav.active{
  pointer-events: auto;
}

.nav-left{
  position: relative;
  z-index: 10;
  left: -50%;
  top: 0;
  width: 50%;
  height: 100vh;
  background-color: white;
  transition: 0.8s;
}
.nav-left.active{
  left: 0;
  transition: 0.5S;
}
.nav-left ul{
  position: relative;
  left: 10%;
  top: 35%;
  height: 30%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
}

.nav-right{
  position: absolute;
  z-index: 9;
  left: -50%;
  top: 0;
  width: 50%;
  height: 100vh;
  background: black;
  transition: 0.8s;
}

.nav-right.active{
  left: 50%;
  transition: 0.5s;
}

.nav-link{
  opacity: 0;
  position: relative;
  transition: 0.5s;
  left: 0;
}

.nav-link.active{
  opacity: 1;
  position: relative;
  transition: 0.5s;
  left: 0;
}

.contact{
  position: absolute;
  opacity: 0;
  bottom: 10%;
  left: 0;
  pointer-events: none;
}

.contact.active{
  opacity: 1;
  left: 10%;
  transition: 0.5s;
}

.logo{
  position: fixed;
  top: 4rem;
  left: 5%;
  z-index: 100;
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
  pointer-events: none;
  transition: 1s;
}
 .logo.active{
   color: white;
}

 .welcome{
   color: rgb(255, 255, 255);
   position: relative;
   left: 5%;
   top: 30vh;
   width: 40%;
   text-transform: uppercase;
 }
